<div id="dark">

    <div class="container">
        <div class="row">
            <div class="col">  
                <div class="jumbotron">
                    <div class="text-center text__container">
                        <div class="text__container--heading">
                            <p class="display-4 text__container--one">Bring every</p>
                            <p class="display-4 text__container--two"><span class="text-hero">Activity</span> to life.</p>
                        </div>
                        <p class="lead">Move and Groove is the number one activity tracking tool.</p>
                        <a class="btn btn-outline-success btn-lg" href="#" role="button">Sign up for free <span><i class="fas fa-arrow-right"></i></span></a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>
