<div id="dark">

    <div class="container">
        <div class="row">
            <div class="col">  
                <div class="jumbotron">
                    <div class="text-center text__container">
                        <div class="text__container--heading">
                            <p class="display-4 text__container--one">Bring every</p>
                            <p class="display-4 text__container--two"><span class="text-hero">Activity</span> to life.</p>
                        </div>
                        <p class="lead">Move and Groove is the number one activity tracking tool.</p>

                        <% if user_signed_in? %>
                            <button class="btn btn-outline-success btn-lg " href="#" role="button">  <%=link_to "See all Activities", activities_path, class: "auth"%> <span><i class="fas fa-arrow-right"></i></span></button>
                        <%else%>
                            <button class="btn btn-outline-success btn-lg " href="#" role="button">  <%=link_to "Sign up for free", new_user_registration_path, class: "auth"%> <span><i class="fas fa-arrow-right"></i></span></button>
                        <%end%>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>






</div>
