@import 'bootstrap/dist/css/bootstrap';


body {
    // background: #D3D3D3;
    // overflow-x: hidden;
}

.text-head {
    font-family: 'Raleway', sans-serif;
}

.navbar {
    background: #15323A!important;
}

.badge-primary {
    background: #D3D3D3!important;
    color: #222;
    font-weight: normal;
}

// .bg-expert {
//     background-image: url('../images/trainer')
// }

.shadow {
    border-radius: 5px;
   
}

.expert-image {
    // height: 401px!important;
    // width:  565px!important;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.physio-text {
    font-size: 2rem;
    letter-spacing: .5px;
}

.img-fluid {
    // height: 100vh!important;
}

.bg-white {
    // height: 500px!important;
}

.card-img-top {
    height: 170px!important;
}

.activities__card--container {
    // border: 1px solid #F6F6F6;
    border-radius: 5px;
}

button:hover>.auth {
    color: whitesmoke!important;
}

.auth {
    color: white;
}

.bg-green {
    background: #0D4C3F;
}
.auth:hover{
    color: white!important;
    text-decoration: none!important;

}

.text__container {
    color: white;

    &--heading {

    }
    &--one {
        font-size: 80px!important;
        font-family: 'Fira Sans', sans-serif;

    }
    &--two {
        font-size: 80px!important;
        font-family: 'Fira Sans', sans-serif;
        
    }
}
.text-hero {
    color: #4831D4;
}

#grey {
   background: #FBF7ED!important;
}

#footer, #nav {
    background: #15323A;
}

.jumbotron {
    background: #FBF7ED;
    margin: 0;
    // background: transparent;
    background-image: url(yogateam.jpg);
    // height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width: 425px){

    .jumbotron {
        background-position: center;

    }

}

.bg-new {
    background-image: url(snow.jpg);
    // height: 100vh;
    background-color: #AAC9CE;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

label {
    // font-size: 1.5rem;
    letter-spacing: .2rem;
    font-weight: 200;
}

.card-col {
    background: #77CC6C;
    opacity: .8;
}

.text-success, .btn-success {
    color: #77CC6C!important;
}

.actions {
    // display: inline-block;
    // margin: 0 auto;
    // padding-top: 1rem;
}

.actions > input {
    // color: #0D4C3F!important;
    // margin: 0 auto;
    // text-align: center;
    // padding: 5px 15px;
    // // border-radius: 5rem;
    // border: none;
  
}

.actions > input:hover {
    // color: #0D4C3F!important;
    // margin: 0 auto;
    // text-align: center;
    // padding: 5px 15px;
    // border-radius: 5rem;
    // border: none;
    // background: #77CC6C!important;
    // color: #fff!important;
    // transition: background-color.3s ease-in;
    // opacity: 8!important;
    // border: 1px solid #0D4C3F;
}
// select {
//    -webkit-appearance: none;
//    -moz-appearance: none;
//    appearance: none;       /* Remove default arrow */
//    background-image: url(...);   /* Add custom arrow */
// }





// 

.main-card {
    // height: 400px;
    max-width: 400px;
    background:#FBF7F7;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 1.3rem;
}
.out-card {
    max-width: 400px;

}



.inner-card {
  
}


.user-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.round {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: #000;
}

.user-name {
    display: flex;
    flex-direction: column;
}

.name{
    font-size: 2rem;
    font-weight: bold;
}

.email {
    color: #777;
    font-size: 1.1rem;
}

.activity-stats {
    padding: 2rem;
    // background: #0D4C3F;
}

.activity-stats > p {
    // margin: 0;
}

.activity-name {
    font-size: 2rem;
    color: #aaa;
    letter-spacing: .2rem;
}

.activity-date {
    font-size: 1.3rem;
    color: grey;
    
}

.activity-time {
    font-size: 1.3rem;
    color: grey;

    
}

.time-in {
    border-top: 1px solid grey;
    background: rgba(187, 181, 181, 0.625);
    display: flex;
    align-items: center;
    justify-content: space-around;
    // flex-direction: column;
    padding: .5rem 1rem;
    // max-width: 400px;
    // flex-wrap: no-wrap;

}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item,.show,.dropdown-menu{
    min-width: .5rem!important;
}

.dropdown-menu {
    // background: transparent!important;
}

#dropdownMenuButton {
    background: transparent!important;
    border: none!important;
}

.rowe {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.bg-rowe {
    opacity: .8;
    background-image: url(sky.jpg);
    // height: 100vh;
    background-color: #AAC9CE;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}





.rowe > * {
    margin-bottom: 1rem;
}

