
<div class="bg-edit">
    <div class="container ">
        <div class="row">
            <div class="col">
                <div>
                    <h1 class="text-center text-head text-white py-2">Editing Activity</h1>

                    <%= render 'form', activity: @activity %>

                    <%= link_to 'Show', @activity %> |
                    <%= link_to 'Back', activities_path %>
                
                </div>
                

            </div>
        
        </div>



    </div>
</div>