
<div class="bg-edit">
    <div class="container ">
        <div class="row py-4">
            <div class="col">
                <div>
                    <h1 class="text-center text-head text-white py-2">Editing Activity</h1>

                    <%= render 'form', activity: @activity %>

                    
                        <%= link_to 'Show', @activity, class: "btn btn-dark text-center" %>

                        <%= link_to 'Go Back', activities_path, class: "btn btn-dark text-center" %>
                
                </div>
                

            </div>
        
        </div>



    </div>
</div>