<div class="container">
   <p id="notice"><%= notice %></p>
 
  <h1 class="text-center text-head text-success">Activities Listing page</h1>

  <div class="rowe">
      <%# 1 %>
     
     <% @activities.each do |activity| %>
        <div class="">
              <%#  %>
          <div class="out-card border-info">
            <div class="main-card">
            <div class="inner-card">
              <div class="user-info">
                <div class="round">
                  <%# <img src="" alt="user" > %>
                </div>
                <div class="user-name">
                  <span class="name">Allison Hill</span>
                  <span class="email">akinsiku.o@yahoo.com</span>
                </div>
                  
              </div>
          
              <div class="activity-stats">
                <p class="activity-name"><%= activity.name %></p>
                <p class="activity-date">On: <%= activity.date.strftime("%B/%d/%Y") %></p>
                <p class="activity-time">For About: 2hrs 30 min</p>
              </div>
            
            </div>
          </div>
    
          <div class="time-in">
            <span class="badge">Created: 15m ago </span>
            <span class="badge">Edited: 10m ago </span>
        
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
                </button>
        
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                  <a class="dropdown-item text-info" href="#"><i class="fas fa-compress-alt"></i></a>
                  <a class="dropdown-item text-info" href="#"><i class="fas fa-pencil-alt"></i></a>
                  <a class="dropdown-item text-danger" href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div> 

    <%end%> 


     


  </div>
</div>




