
<div >
    <div class="container bg-new pt-3">
        <div class="row ">
            
        </div>    
        <div class="row">
            <div class="col">
                <h1 class="text-center text-head text-success">New Activity</h1>

                <%= render 'form', activity: @activity %>

                <%= link_to 'Back', activities_path %>


            </div>
        
        </div>

    </div>
</div>


