
<div class="bg-new">
    <div class="container  pt-3">
        <div class="row ">
            
        </div>    
        <div class="row">
            <div class="col">
                <h1 class="text-center text-head text-success">New Activity</h1>

                <%= render 'form', activity: @activity %>

                <p class="text py-4"> 
                    <%= link_to 'Go Back', activities_path, class: "btn btn-dark text-center" %>
                </p>

            </div>
        
        </div>

    </div>
</div>


