<footer class="page-footer font-small blue pt-4 ">
      
    <!-- Footer Links -->
    <div class="container text-center text-md-left px-5 py-5">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase text-white">Move and Groove</h5> 

                
                <p class="text-white">Move and Groove is the leading activity tracker tool in europe. Our track record of excellence is next to none.</p>

            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-3 mb-md-0 mb-3">


                <ul class="list-unstyled text-white">
            
                    <li>
                        <a href="#">Become an Instructor</a>
                    </li>
                    <li>
                        <a href="#">News</a>
                    </li>
                    <li>
                        <a href="#">Career</a>
                    </li>
                    
                    
                </ul>

            </div>

            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->

                <ul class="list-unstyled">
                    <li>

                        <%= link_to "Sign In", new_user_session_path, class: "auth font-weight-light" %>
                        
                    </li>
                    <li>
                        <%= link_to "Sign up for free", new_user_registration_path, class: "auth font-weight-light"%>

                    </li>
                    <li>
                        <a href="#">Meet an Expert</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright:
        <a href="https://femiakin.com/" target="_blank"> Move and Groove | Made by Femi (+2348103031691)</a>

    </div>
            <!-- Copyright -->
</footer>