<footer class="page-footer font-small blue pt-4 ">
      
    <!-- Footer Links -->
    <div class="container text-center text-md-left px-5 py-5">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase text-white">Move and Groove</h5>
                <p class="text-white">Move and Groove is the leading activity tracker tool know. Our track record of excellence is next to none.</p>

            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-3 mb-md-0 mb-3">

                <h5 class="text-uppercase text-white">Boston</h5>

                <ul class="list-unstyled text-white">
                    <li>
                        <a href="https://www.boston.gov/parks/public-garden">Boston Public Gardens</a>
                    </li>
                    <li>
                        <a href="https://www.boston.gov/news">The City of Boston</a>
                    </li>
                    <li>
                        <p>4 CHARLES STREET
                            BOSTON , MA 02116
                            UNITED STATES</p>
                    </li>
                </ul>

            </div>

            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Join Our Community</h5>

                <ul class="list-unstyled">
                    <li>
                        <a target="_blank" href="#"><i class="fab fa-facebook-f fa-1x"></i></a>
                        <a href="https://facebook.com">Facebook</a>
                    </li>
                    <li>
                        <a target="_blank" href="#"><i class="fab fa-twitter fa-1x"></i></a>
                        <a href="https://twitter.com">Twitter</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-1x"></i></a>
                        <a href="https://twitter.com">Instagram</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright:
        <a href="#"> Move and Groove | Made by Femi (+2348103031691)</a>

    </div>
            <!-- Copyright -->
</footer>